
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Head">
    <div id="Inlogg">
        <p>Inloggad som: @Model.UserInfo.Name</p>
        <a href="">Byt användare</a>
    </div>
    <h2>Deluxe Möbler!</h2>
    <ul>
        <li><a href="">Populära produkter</a></li>
        <li>
            <div class="Dropdown">
                <a href="">Kategorier</a>
                <div class="Dropdown-content">
                    <a href="">Kategori1</a>
                    <a href="">Kategori2</a>
                </div>
            </div>

        </li>
    </ul>
    <h3>KategoriNamn</h3>
</div>
<div class="objekt">
    <table>
        @foreach (var furniture in Model.FurnitureList)
        {
            <tr>
                <td>
                    <a href="">
                        <div class="pic">
                        <img src="@furniture.PictureURL" width="200" height="200" />
                        </div>
                        <div class="obj">@furniture.Name</div>
                        <div class="beskr">Pris: @furniture.Price Kr</div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>


