
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Head">
    <div id="Inlogg">
        <p>Inloggad som: @Model.UserInfo.Name</p>
        <a href="~/Login/Login/">Byt användare</a>
    </div>
</div>
<a href="">Visa varukorgen(nrofitems)</a>
<h2>Deluxe Möbler!</h2>
<ul>
    <li><a href="~/Home/Index/">Populära produkter</a></li>
    <li>
        <div class="Dropdown">
            <a href="">Kategorier</a>
            <div class="Dropdown-content">
                <a href="">Bord</a>
                <a href="">Sängar</a>
            </div>
        </div>
    </li>
</ul>
@if (Model.UserInfo.CartList != null)
{
    foreach (var cartitem in Model.UserInfo.CartList)
    {
        <p> Vara: @cartitem.id @cartitem.name @cartitem.price kr</p>
    }
}
