@*Här är varukorgen*@

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Head">
    <div id="Inlogg">
        <p>Inloggad som: @Model.UserInfo.Name</p>
        <a href="~/Login/Login/">Byt användare</a>
    </div>
</div>
<h2>Deluxe Möbler!</h2>
<ul>
    <li><a href="~/Home/Index/">Populära produkter</a></li>
    <li>
        <div class="Dropdown">
            <a href="">Kategorier</a>
            <div class="Dropdown-content">
                <a href="">Bord</a>
                <a href="">Sängar</a>
            </div>
        </div>
    </li>
</ul>
@if (Model.UserInfo.CartList != null)
{
    int nr = 0;
    int price = 0;
    foreach (var cartitem in Model.UserInfo.CartList)
    {
        price = price + cartitem.price;
        nr++;
        <p>Vara: @nr @cartitem.name @cartitem.price Kr</p> @*Visning av varukorgen*@
    }
    <h2>Totalt: @price Kr</h2>
}
<form method="post" action="~/Cart/Buy/"/> @*Formuläret för att fylla i uppgifter för att sedan köpa varorna*@
    Namn: <input type="text" name="Name" />
    <br>
    Kortinnehavarens namn: <input type="text" />
    <br>
    Kortnummer: <input type="number" name="Cardnumber" size="16" /><br> 
    CVV <input type="number" maxlength="3"/>
    Utgångsdatum: <input type="date" /><br>
    <button type="submit" onclick="alert('Köpet är genomfört!')">KÖP!!! </button> @*Varukorgslistan töms när man klickar på köpknappen*@
<form/>



