
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Head">
    <div id="Inlogg">
        <p>Inloggad som: @Model.UserInfo.Name</p>
        <a href="~/Login/Login/">Byt användare</a>
    </div>
</div>
<h2>Deluxe Möbler!</h2>
<ul>
    <li><a href="~/Home/Index/">Populära produkter</a></li>
    <li>
        <div class="Dropdown">
            <a href="">Kategorier</a>
            <div class="Dropdown-content">
                <a href="">Bord</a>
                <a href="">Sängar</a>
            </div>
        </div>
    </li>
</ul>
@if (Model.UserInfo.CartList != null)
{
    int nr = 0;
    int price = 0;
    foreach (var cartitem in Model.UserInfo.CartList)
    {
        price = price + cartitem.price;
        nr++;
        <p>Vara: @nr @cartitem.name @cartitem.price Kr</p>
    }
    <h2>Totalt: @price Kr</h2>
}
<form method="post">
    Namn: <input type="text" name="Name" />
    Kortnummer <input type="number" name="Cardnumber" />
</form>

<h3><a href="~/Cart/Buy/">Köp!</a></h3>


