
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logga in</h2>
<form method="post">
    Användarnamn: <input type="text" name="name" />
    Password: <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>

