
@* Här loggar man in med användarnamn och lösenord *@
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logga in</h2>
<form method="post">
    Användarnamn: <input type="text" name="name" /><br>
    Lösenord: <input type="password" name="password" /><br>
    <input type="submit" value="Login" />
</form>

